# Expo
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Node
node_modules/
npm-debug.log
yarn-error.log

# macOS
.DS_Store

# Testing
coverage/

# Backend (si tu gardes le dossier server/)
server/node_modules/